.inputs {
    margin-top: 10%;
    margin-bottom: 30px;
}
.flows {
    width: 70px;
}
.eqInputs {
    width: 35px;
}
.toleranceCrudes {
    width: 70px;
}
#outputData {
    width: -webkit-fill-available;
    margin-bottom: 30px;
}

#equalitiesInput {
   margin-bottom: 30px;
}